@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5f3f7;
}

/* _________________________________________________________8_______________________________________________________________________________________ */
           /*  start ...Code CSS For Clinic EL-AMEN RSMI part Two  */
section .clinic  {
    text-align: center;
    font-size: 45px;
    margin: 2% 0 0 2%;
}
section .clinic .elamen{
    display: inline;
    color: #f52c51;
}
.datc{
    display: inline;
    color:#60b4df;
    border-bottom: 3px solid #60b4df;
    font-family: "Gill Sans", sans-serif;

}
.hedding5{
    color:#60b4df;
    font-size: 30px;
    width: 450px;
    padding-left: 1%;
    padding-bottom: 5px;
    text-align: center;
    margin:2% 0 0 32%;
    border-bottom: 3px solid #60b4df;
    font-family: "Gill Sans", sans-serif;

}
                    /*  end ...Code CSS For Clinic EL-AMEN RSMI part Two  */
/* _________________________________________________________8_______________________________________________________________________________________ */
        
             /*  start ... code CSS for dentiste  parti three   - */
.dentiste{
    margin: 5% 5%;
    float: left;
}
.dentiste img{
    width: 500px;
    border-radius: 55px;
    box-shadow: 4px 4px 22px 1px #a4a79f;
    transition: 0.9s;

}            
.dentiste img:hover{
    box-shadow: 4px 4px 22px 1px #3498db;
} 
.dentiqte-text{
    float: right;
    width: 650px;
    margin: 20% 2% 0 0;
}
.dentiqte-text h1{
    font-size: 45px;
    color: #3498db;
    text-align: center;
}
.dentiqte-text p {
    font-size: 25px;
    text-align: justify;
    text-indent: 60px;
    margin-top: 10px;
    line-height: 30px;
    
}
.imge{
    clear: both;
}
.imge img{
    width: 500px;
    border-radius: 55px;
    margin: 5%;
    box-shadow: 4px 4px 22px 1px #a4a79f;
    transition: 0.9s;
}
.imge img:hover{
    box-shadow: 4px 4px 22px 1px #3498db;
}
.imge .img1{
    float: right;
    margin-top: 10%;
}     
            /*  end ... code CSS for dentiste  parti three   - */
/* _________________________________________________________8_______________________________________________________________________________________ */
            













      /*  start ... code CSS for More Details parti six   - */
    
.information{
    background: #2b90d9;
    width: 100%;
    height: 80vh;
    border-bottom: 2px solid #fff;
}
.information{
    content: "";
    display: table;
    clear: both;
}
.information-clinic{
    float: left;
    width: 23%;
    height: 60vh;
    margin-left: 2%;
    /* border: 1px solid black; */
}
.information-clinic img{
    text-align: center;
    width: 50%;
    margin: 2% 0 2% 10%;
}
.information-clinic h2{
    color: #e1eef6;
    font-size: 28px;
    padding:0 0  1% 7%;
    font-weight: 900;
    margin: 5% 0 0 13%;
    align-items: center;
    border-bottom: 3px solid #d9e1e8;
    width: 80%;
}
.information-clinic p{
    font-size: 20px;
    color: #fff;
    text-align: justify;
    /* width: 200px; */
    margin: 5%;
    line-height: 1.5;

}
.information-clinic h3{
    font-family: Georgia, serif;
    font-weight: 300;
    color: #282c37;
    border-bottom: 3px solid #d9e1e8;
    width: 38%;
    bottom: 10px;
    font-size: 25px;
    margin-top: 10%;
    padding-bottom: 1%;

}
.information-clinic a{
    font-family: Arial Narrow, sans-serif;
    color: aliceblue;
    text-align: left;
    margin: 0 0 0 10%;
    font-weight: 100;
    font-size: 25px;
    line-height: 2;
    border-bottom: 2px solid 2px;
    padding-bottom: 1%;


}
.information-clinic a:hover{
    color:#9baec8;
    /* color: rgba(240, 235, 235, 0.987); */
    border-bottom: 3px solid #d9e1e8;
    bottom: 5px;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    
}
.information-clinic h4{
    font-weight: 300;
    color: #e1eef6;
    border-bottom: 2px solid #fff;
    width: 70%;
    padding: 0 0 1% 6%;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: 10%;
    font-family: Times, Times New Roman, serif;
}
.information-clinic h4 span{
    color: #d9e1e8;
}
.information-clinic a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.2s linear;
}
.information-clinic ul li{
    color: #fff;
    margin-left: 60px;
}
.social-networking{
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
    border-bottom:2px solid #fff;
    padding-bottom: 3%;
    
}
.social-networking a{
    color: #fff;
    font-size: 50px;
    margin-top: 3%;
}
.social-networking a:hover{
    color: #e1eef6;

}
.para{
    text-align: center;
    font-size: 18px;
    font-family: oblique;
    color: #fff;
    margin: 1% 0 1% 0;
}
                   /*  end ... code CSS for More Details parti six   - */
/*  ________________________________________________________________________________________________________ --> */
